body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#about-me {
    background-color: beige;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
   
}

#about-me img {
    width: 380px;
    height: 480px;
    object-fit: cover;
    
}

#about-me p {
   
    line-height: 1.6;
    
}

#div-container {
    background-color: lightgray;
    margin: 0;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#div-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.first-section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    gap: 15px;              
}

#name-div p {
    position: relative;
    top: -40px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

#name-div {
    margin-bottom: -50px;;
}

#first-nav {
    text-align: right;
}

#social-links,
.social-links2 {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    gap: 20px;
}

#social-links {
    justify-content: flex-end;
}

.social-links2 {
    justify-content: space-around;
    
}

#toplist {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
}

h4 {
    padding: 20px;
    margin: 0;
}

a { 
    color: black;
    text-decoration: none;
}

button {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}